body {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  margin: 0px;
  padding: 0px;
  background-color: #F4F4F4;
  overflow-x: hidden;
}

.bold {
  font-weight: bold;
}

.geocoder .mapboxgl-ctrl-geocoder {
  box-shadow: 7px 7px 20px -9px rgba(0,0,0,0.75);
}
